body {
  background-color: #000;
  color: #ccc;
  font-family: Consolas, monospace;
  margin: 0;
  padding: 20px;
}

#terminal {
  max-width: 900px;
  margin: auto;
  white-space: pre-wrap;
  font-size: 16px;
}

.prompt {
  color: #ccc;
  font-weight: bold;
}

#cmd {
  background: none;
  border: none;
  color: #ccc;
  font-family: inherit;
  font-size: 1em;
  width: 90%;
  outline: none;
}

#output {
  margin-bottom: 1em;
}

#input-line {
  display: flex;
  align-items: center;
}

#cmd {
  background: none;
  border: none;
  color: #ccc;
  font-family: inherit;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.hidden {
  display: none !important;
}

#popup {
  display: none; /* fallback if class is missing */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px #555;
  padding: 12px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.popup-content {
  position: relative;
  display: inline-block;
}


#popup-body {
  height: calc(100% - 30px);
  overflow: auto;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #ccc;
  font-weight: bold;
}
